body, header,nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    border: 0;
    margin: 0;
    padding: 0;
}

.logo {
    width: 20%;
    display: block;
    border-radius: 5%;
    float: left;
}

#logo-title {
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#h-menu-links {
    display: none;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #e9d5b8;
}

nav ul {
    text-align: center;
}

nav li {
    text-align: center;
    font-size: 2em;
    display: inline-block;

}

.tablet-desktop {
    display: none;
}

.menu-icon {
    scale: 1.5em;
}

header, nav {
    background-color: #ca8c6a;
}

header h1 {
    text-align: center;
    padding: 1.5em;
    color: #e9d5b8;
}

body {
    background-color: #eadac8;
    font-family: roboto condensed;

}

.aboutus {
    font-size: 1.5em;
}

.portfolios {
    display: block;
}

.portfolios img {
    width: 75%;
    float: center;
}

footer {
    background-color: #d2a976;
    text-align: center;
    padding: 1em 0 1em 0;
}

.airfryer {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    padding-top: 1.5em;
}

/* AW */
figure {
    text-align: center;
    padding-top: 2em;
}

main p, main h2 {
    text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* AW */

/* ES */
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
#letter, #comments{
    background-color: #d2a976;
    border: none;
}
/* ES*/

.grid-recipes {
    padding: 10%;
}

.adjust {
    width: 70%;
    border-radius: 10%;
}

@media screen and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px
    }

    .tablet-desktop {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    nav {
        padding-top: 4em;
    }

    nav ul {
        list-style-type: none;
        display: block;
    }
    
    .portfolios img {
        width: 50%;
    }

}

@media screen and (min-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px
    }

    .tablet-desktop {
        display: block;
        width: 100%;
        /* overflow: auto; */
    }

    .mobile-nav {
        display: none;
    }

    nav {
        padding-top: 5em;
    }

    nav ul {
        list-style-type: none;
        display: block;
    }

    .logo {
        width: 15%;
    }
}
